body{
    background-color: black;
}
.container{
    width: 360px;
    padding: 33px;
    text-align: center;
    background-color: #fff;
    margin-left: 40%;
    margin-top: 30vh;
}
input{
    width: 270px;
    padding: 8px;
    border: 2px solid red;
    border-radius: 30px;
    outline: none;
}
button{
    width: 60px;
    height: 41px;
    border: 2px solid blue;
    cursor: pointer;
    outline: none;
    border-radius: 50px;
}
.text ul{
    position: relative;
    border: 2px solid green;
    border-radius: 40px;
    padding: 10px;
    font-size: 19px;
    text-align: left;
}
.text ul i{
    position: absolute;
    right: 25px;
    cursor: pointer;
}
